<div class="container">
  <div class="row">
    <div class="col-md-3 text-center">
      <h3>Serviço 1</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo quam
        doloremque accusamus soluta ipsam, nobis quibusdam? Ipsa quis
        placeat et, facere tenetur porro consequatur culpa, at omnis
        reprehenderit molestiae fuga?
      </p>
    </div>
    <div class="col-md-3 text-center">
      <h3>Serviço 2</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo
        debitis voluptas laboriosam repudiandae unde blanditiis numquam sunt
        nihil. Cum, suscipit. Illo qui vel maiores similique dolore
        voluptatum ab omnis alias.
      </p>
    </div>
    <div class="col-md-3 text-center">
      <h3>Serviço 3</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore,
        amet eius? Dolorem blanditiis aliquam soluta consequuntur dolorum,
        hic sunt vitae corporis quaerat qui libero magni! Architecto sequi
        quidem quo enim?
      </p>
    </div>
    <div class="col-md-3 text-center">
      <h3>Serviço 4</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
        odit atque amet numquam, dolor nemo hic repudiandae at iste quod.
        Harum repellat beatae impedit ipsam ratione sit modi ipsum deserunt.
      </p>
    </div>
  </div>
</div>