<app-header [headerCount]="cart.length" />

<main class="container my-5">
  <!-- <div class="my-5">
    <input type="text" [(ngModel)]="documentNumber">
    {{ documentNumber | document }}
    
    {{ '2024-10-25' | date: 'dd/MM/yyyy' }}
  </div> -->

  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let item of products">
      <app-card
        [product]="item"
        (incrementEmitter)="incrementKart($event)"
      ></app-card>
    </div>
  </div>

  <div
    class="modal fade"
    id="modal"
    tabindex="-1"
    aria-labelledby="modalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <app-cart [products]="cart"></app-cart>
        <div class="modal-body">...</div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer />
