<app-header />

<main class="container my-5">
  <div class="row">
    <div class="col-md-3 mb-4">
      <app-card [product]="products[2]"></app-card>
    </div>

    <!-- * Referenciando o 'NG-CONTENT' -->
    <!-- <div class="col-md-3 mb-4">
      <app-card>
        <img image src="assets/images/smartphone.jpg" class="card-img" alt="Iphone 16" />
        <div body>
          <h5 class="card-title">Smartphone XYZ</h5>
          <p class="card-text">
            Smartphone moderno com design elegante, tela de alta resolução,
            câmeras avançadas para fotos nítidas, desempenho rápido com
            processador potente, longa duração de bateria e tecnologia 5G.
          </p>
        </div>
      </app-card>
    </div> -->

    <!-- * Restos da lista de produtos -->
    <!-- <div class="col-md-3 mb-4">
      <div class="card">
        <img src="assets/images/laptop.jpg" class="card-img" alt="Iphone 16" />
        <div class="card-body">
          <h5 class="card-title">Laptop</h5>
          <p class="card-text">
            Laptop poderoso com design leve e elegante, tela nítida de alta
            resolução, processador rápido para multitarefas, ampla capacidade de
            armazenamento, bateria de longa duração e conectividade avançada.
          </p>
        </div>
        <div class="card-footer d-flex justify-content-end">
          <a class="btn btn-primary me-2">Editar</a>
          <a class="btn btn-outline-danger">Excluir</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-4">
      <div class="card">
        <img src="assets/images/console.jpg" class="card-img" alt="Iphone 16" />
        <div class="card-body">
          <h5 class="card-title">Console</h5>
          <p class="card-text">
            Console de última geração com gráficos realistas em 4K, desempenho
            rápido, armazenamento expansível, controle ergonômico, suporte a
            jogos online e integração com serviços de streaming.
          </p>
        </div>
        <div class="card-footer d-flex justify-content-end">
          <a class="btn btn-primary me-2">Editar</a>
          <a class="btn btn-outline-danger">Excluir</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-4">
      <div class="card">
        <img
          src="assets/images/smartphones.jpg"
          class="card-img"
          alt="Iphone 16"
        />
        <div class="card-body">
          <h5 class="card-title">Smartphone XPTO</h5>
          <p class="card-text">
            Smartphone versátil com tela ampla e vibrante, câmeras de alta
            qualidade para capturas detalhadas, desempenho ágil, armazenamento
            generoso, bateria duradoura e carregamento rápido.
          </p>
        </div>
        <div class="card-footer d-flex justify-content-end">
          <a class="btn btn-primary me-2">Editar</a>
          <a class="btn btn-outline-danger">Excluir</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-4">
      <div class="card">
        <img
          src="assets/images/smartwatch.jpg"
          class="card-img"
          alt="Iphone 16"
        />
        <div class="card-body">
          <h5 class="card-title">Smartwatch</h5>
          <p class="card-text">
            Smartwatch moderno com design sofisticado, tela sensível ao toque,
            monitoramento de saúde e atividades, notificações em tempo real, GPS
            integrado, longa duração de bateria e resistência à água.
          </p>
        </div>
        <div class="card-footer d-flex justify-content-end">
          <a class="btn btn-primary me-2">Editar</a>
          <a class="btn btn-outline-danger">Excluir</a>
        </div>
      </div>
    </div> -->
  </div>
</main>

<app-footer />